$utilities: map-merge(
    $utilities,
    (
      "border": (
        property: border,
        values: (
          null: var(--border-width) var(--border-style) var(--border-color),
          0: 0,
        )
      ),
      "border-top": (
        property: border-top,
        values: (
          null: var(--border-width) var(--border-style) var(--border-color),
          0: 0,
        )
      ),
      "border-end": (
        property: border-right,
        class: border-end,
        values: (
          null: var(--border-width) var(--border-style) var(--border-color),
          0: 0,
        )
      ),
      "border-bottom": (
        property: border-bottom,
        values: (
          null: var(--border-width) var(--border-style) var(--border-color),
          0: 0,
        )
      ),
      "border-start": (
        property: border-left,
        class: border-start,
        values: (
          null: var(--border-width) var(--border-style) var(--border-color),
          0: 0,
        )
      ),
      //"border-color": (
      //  property: border-color,
      //  class: border,
      //  local-vars: (
      //    "border-opacity": 1
      //  ),
      //  values: $utilities-border-colors
      //),
      //"subtle-border-color": (
      //  property: border-color,
      //  class: border,
      //  values: $utilities-border-subtle
      //),
      "border-width": (
        property: border-width,
        class: border,
        values: $border-widths
      ),
      "border-opacity": (
        css-var: true,
        class: border-opacity,
        values: (
          10: .1,
          25: .25,
          50: .5,
          75: .75,
          100: 1
        )
      ),
      // Border-radius
      "rounded": (
        property: border-radius,
        class: rounded,
        values: (
          null: var(--border-radius),
          0: 0,
          //1: var(--border-radius-sm),
          //2: var(--border-radius),
          //3: var(--border-radius-lg),
          //4: var(--border-radius-xl),
          //5: var(--border-radius-xxl),
          circle: 50%,
          //pill: var(--border-radius-pill)
          // Override
          'lg': var(--border-radius-lg),
        )
      ),
    )
);
