$utilities: map-merge(
    $utilities,
    (
      "opacity": (
        property: opacity,
        values: (
          0: 0,
          25: .25,
          50: .5,
          70: .70,
          75: .75,
          100: 1,
        )
      ),
    )
);
