$utilities: map-merge(
    $utilities,
    (
      "overflow": (
        property: overflow,
        values: auto hidden visible scroll,
      ),
      "overflow-x": (
        property: overflow-x,
        values: auto hidden visible scroll,
      ),
      "overflow-y": (
        property: overflow-y,
        values: auto hidden visible scroll,
      ),
    )
);
