/*MENU-TOGGLE*/
.burger-btn {
  //variables


  border: 2px solid transparent;
  border-radius: 5px;
  padding: 8px;
  background-color: transparent;
  color: var(--c-orange);
  color: #181818;
  //outline: none;
  z-index: 15;

  &:hover,
  &:focus {
    //border-color: var(--c-primary-dark);
    //outline: none;
  }
}

.burger-btn__icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  user-select: none;

  &,
  &::before,
  &::after {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: currentColor;
    outline: 1px solid transparent;
    transition-property: background-color, transform;
    transition-duration: .2s;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: -7px
  }

  &::after {
    top: 7px
  }
}

.burger-btn.active .burger-btn__icon {
  background-color: transparent;

  //TODO postition animation
  &:before {
    transform: translateY(8px) rotate(45deg);
    top: -9px;
  }

  &:after {
    transform: translateY(-8px) rotate(-45deg);
    bottom: 8px;
  }
}

@media print {
  .burger-btn {
    display: none
  }
}
