//
// Base styles (https://getbootstrap.com/docs/5.3/components/buttons/)
//
.btn {
  // Base styles
  // scss-docs-start btn-css-vars
  --btn-padding-y: .375rem;
  --btn-padding-x: .75rem;
  --btn-font-family: var(--bod-font-family, inherit); // TODO base var
  --btn-font-size: 1rem;
  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-color: var(--body-color, #000);  // TODO base color
  --btn-bg: transparent;
  --btn-border-width: 1px;
  --btn-border-color: transparent;
  --btn-border-radius: .375rem;
  --btn-box-shadow: none;
  --btn-transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  // states
  --btn-hover-bg: ;
  --btn-hover-border-color: transparent;
  --btn-hover-color: ;
  --btn-focus-bg: var(--btn-hover-bg);
  --btn-focus-color: var(--btn-hover-color);
  --btn-focus-border-color: var(--btn-hover-border-color);
  --btn-focus-box-shadow: 0 0 0 .25rem rgba(var(--btn-focus-shadow-rgb), .5);
  --btn-active-color: ;
  --btn-active-bg: ;
  --btn-active-border-color: ;
  --btn-active-shadow: ;
  --btn-disabled-color: ;
  --btn-disabled-bg: ;
  --btn-disabled-border-color: ;
  --btn-disabled-opacity: 0.65;
  // scss-docs-end btn-css-vars

  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  white-space: var(--btn-white-space);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--btn-bg, transparent);
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius, .375rem);
  box-shadow: var(--btn-box-shadow, none);
  transition: var(--btn-transition);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &:hover,
  &.hover {
    color: var(--btn-hover-color);
    text-decoration: none;
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
  }

  &:focus-visible,
  &.focus {
    color: var(--btn-focus-color);
    background-color: var(--btn-focus-bg);
    border-color: var(--btn-focus-border-color);
    outline: 0;
    box-shadow: var(--btn-focus-box-shadow);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--btn-active-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
    box-shadow: var(--btn-active-shadow);

    &:focus-visible {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: var(--btn-active-shadow), var(--btn-focus-box-shadow);
    }
  }

  //.btn-check + &:hover {
  //  // override for the checkbox/radio buttons
  //  color: var(--btn-color);
  //  background-color: var(--btn-bg);
  //  border-color: var(--btn-border-color);
  //}

  //.btn-check:focus-visible + & {
  //  border-color: var(--btn-hover-border-color);
  //  outline: 0;
  //  // Avoid using mixin so we can pass custom focus shadow properly
  //  @if $enable-shadows {
  //    box-shadow: var(--btn-box-shadow), var(--btn-focus-box-shadow);
  //  } @else {
  //    box-shadow: var(--btn-focus-box-shadow);
  //  }
  //}

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    color: var(--btn-disabled-color);
    pointer-events: none;
    background-color: var(--btn-disabled-bg);
    border-color: var(--btn-disabled-border-color);
    opacity: var(--btn-disabled-opacity);
    box-shadow: none;
  }
}

/**
Theme styles
 */
/*
TODO
Variants
Outline buttons
Sizes
*/
