// TODO
//
// Base styles
//

.card {
  // scss-docs-start card-css-vars
  --card-padding-y: 1rem;
  --card-padding-x: 1rem;
  --card-border-width: 0;
  --card-border-color: transparent;
  --card-border-radius: 0;
  --card-box-shadow: ;
  --card-inner-border-radius: var(--card-border-radius, 0);
  //--card-cap-padding-y: #{$card-cap-padding-y};
  //--card-cap-padding-x: #{$card-cap-padding-x};
  //--card-cap-bg: #{$card-cap-bg};
  //--card-cap-color: #{$card-cap-color};
  --card-height: 100%;
  --card-bg: var(--c-white);
  --card-color: var(--body-color);
  --card-font-size: 1rem;
  --card-line-height: ;
  --card-title-spacer-y: .5rem;
  //--card-title-color: #{$card-title-color};
  --card-subtitle-color: ;
  //--card-title-mt: 0;
  --card-title-mb: ;
  --card-title-font-size: ;
  --card-title-line-height: ;
  --card-title-font-weight: ;
  --card-img-overlay-padding: ;
  //--card-group-margin: #{$card-group-margin};
  // scss-docs-end card-css-vars
  // TODO
  //states
  --card-hover-color: ;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  width: 100%;
  height: var(--card-height); // todo
  color: var(--card-color);
  word-wrap: break-word;
  background-color: var(--card-bg);
  background-clip: border-box;
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);

  &:hover {
    box-shadow: var(--card-hover-box-shadow);
  }

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      border-top-left-radius: var(--card-inner-border-radius);
      border-top-right-radius: var(--card-inner-border-radius);
    }

    &:last-child {
      border-bottom-width: 0;
      border-bottom-right-radius: var(--card-inner-border-radius);
      border-bottom-left-radius: var(--card-inner-border-radius);
    }
  }

  // Due to specificity of the above selector (`.card > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: var(--card-padding-y) var(--card-padding-x);
  color: var(--card-color);
}

.card-title {
  //margin-top: var(--card-title-mt);
  margin-bottom: var(--card-title-spacer-y);
  font-size: var(--card-title-font-size);
  line-height: var(--card-title-line-height);
  font-weight: var(--card-title-font-weight);
  transition: color .3s;

  a {
    font-size: inherit;
  }
}

.card-subtitle {
  margin-top: calc(-.5 * var(--card-title-spacer-y)); // stylelint-disable-line function-disallowed-list
  margin-bottom: 0;
  color: var(--card-subtitle-color);
}

.card-text {
  margin-top: 0;
  margin-bottom: var(--card-text-margin-bottom);
  font-size: var(--card-font-size);
  line-height: var(--card-line-height);

  &:last-child {
    margin-bottom: 0;
  }
}

.card-link {
  + .card-link {
    margin-left: var(--card-spacer-x);
  }
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--card-img-overlay-padding);
  border-radius: var(--card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  display: block;
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--card-inner-border-radius);
  border-top-right-radius: var(--card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--card-inner-border-radius);
  border-bottom-left-radius: var(--card-inner-border-radius);
}

/**
Theme styles
 */
.product-card {
  --card-padding-y: .75rem;
  --card-padding-x: .5rem;
  --card-title-font-size: 1rem;

  @media (min-width: 992px) {
    --card-padding-y: 1.25rem;
    --card-padding-x: 1rem;
    --card-title-font-size: 1rem;
  }
}

.product-card--viewed {
  --card-padding-y: .5rem;
  --card-padding-x: 0;
  --card-title-font-size: .75rem;

  @media (min-width: 992px) {
    --card-padding-y: 1rem;
    --card-title-font-size: .875rem;
  }
}

.product-card__image {
  --aspect-ratio: 124%;
  position: relative;
  overflow: hidden;

  /*Image cover*/
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 28, 28, .04);
    user-select: none;
  }
}

//.product-card__label {
//  position: absolute;
//  z-index: 2;
//  margin: 14px;
//  padding: 8px 10px;
//  font-size: 12px;
//  line-height: 1;
//  border-radius: 6px;
//
//  // TODO
//  left: auto;
//  width: auto;
//  height: auto;
//}

//.product-card__label--in-stock {
//  top: 0;
//  right: 0;
//  background-color: var(--c-white);
//}

.product-card__buttons-group {
  opacity: 0;
  transition: opacity .3s;

  .product-card:hover & {
    opacity: 1;
  }
}

.product-card__wishlist-btn {
  --btn-icon-size: 12px;
  --btn-padding-y: 8px;
  --btn-padding-x: 8px;

  &.active {
    color: var(--c-red);
  }

  @media (min-width: 992px) {
    --btn-icon-size: 16px;
    --btn-padding-y: 10px;
    --btn-padding-x: 10px;
  }
}

.product-card__variant-label {
  width: 40px;
  height: 32px;
  padding: 2px;
  background-size: cover;
}

//.product-card:hover {
//  box-shadow: 0 0.5rem 2rem -0.25rem hsla(216,9%,44%,.1);
//  z-index: 2;
//}
