/**
Text colors
 */
.text-primary {
  --text-opacity: 1;
  //color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  color: var(--c-primary) !important;
}

.text-white {
  --text-opacity: 1;
  color: rgba(255, 255, 255, var(--text-opacity)) !important;
}

.text-black {
  color: var(--c-black) !important;
}

//.text-grey {
//  color: var(--c-grey) !important;
//}

//.text-grey-light {
//  color: var(--c-grey-light);
//}

//.text-grey-94 {
//  color: #949494; // TODO
//}

//.text-grey-4 {
//  color: var(--c-grey-4);
//}
