body {
  // TODO
  // 2. As a best practice, apply a default `background-color`.
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-align: var(--body-text-align);
  background-color: var(--body-bg); // 2
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.i {
  display: inline-block;
}

.hr {
  margin: 0 -15px;
  border-top: 1px solid #EFF3F8;
}

a:hover,
a:focus {
  color: var(--c-blue);
}

/**
TODO
 */
// Typography
%heading {
  //margin-bottom: $headings-margin-bottom;
  //font-family: $headings-font-family;
  //font-style: $headings-font-style;
  //font-weight: $headings-font-weight;
  //line-height: $headings-line-height;
  //color: var(--heading-color);
}
