html {
  scroll-behavior: smooth;
}

body {
  color: var(--c-text);
  font-family: Gilroy, sans-serif;
  font-size: 14px;

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.i {
  display: inline-block;
}

.hr {
  margin: 0 -15px;
  border-top: 1px solid #EFF3F8;
}

a:hover,
a:focus {
  color: var(--c-blue);
}
