//TODO
// Lists

ol,
ul {
  display: flex;
  flex-direction: column;
  //gap: $spacer * .5;
  gap: 1rem;
  padding-left: $spacer * 1.5;

  ul,
  ol {
    margin-top: $spacer * .5;
  }
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

li::marker {
  color: var(--c-primary);
}

//dt {
//  color: $dt-color;
//}
//
//dd {
//  margin-bottom: $spacer * .75;
//}

.list-inline,
.list-unstyled {
  //display: flex;
  //flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.list-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .625rem 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  color: var(--color, var(--c-black));
  font-weight: 500;
  line-height: 1.275;
  margin-bottom: 1.25rem;
  margin-top: 0;
}

/*TODO headings*/
.h1, h1 {
  @include font-size(3.125rem);
  @include rfs(1.25rem, margin-bottom);
}

.h2, h2 {
  @include font-size(2.5rem);
  @include rfs(2rem, margin-bottom);
}

.h3, h3 {
  @include font-size(2rem);
}

.h4, h4 {
  @include font-size(1.5rem);
}

.h5, h5 {
  @include font-size(1.25rem);
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: transform .15s;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.icon--star {
  color: #AFAFAF;

  &.filled {
    color: #FFCC19;
  }
}
