:root {
  --c-text: #4A5057;
  --c-orange: #F07642;

  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;

  --z-index-header: 210;
  --z-index-modal: 200;
  --z-index-mobile-menu: 50;
  --zi-offcanvas: 500;
  --zi-offcanvas-backdrop: 499;
}
