@import 'variables/aspect-ratios';
@import 'variables/colors';
@import 'variables/forms';
@import 'variables/grid';
@import 'variables/links';
@import 'variables/spacing';
@import 'variables/options';
@import 'variables/pagination';
@import 'variables/tables';
@import 'variables/typography';

:root {
  /** Colors */
  // base colors
  --c-black: #000;
  --c-white: #FFFFFF;
  --c-grey-94: #F0F0F0;
  --c-grey-95: #F4F4F4;
  --c-grey-f4: #F4F4F4;
  --c-grey-f5: #f5f5f5;
  --c-gray: #6c757d;
  --c-gray-dark: #343a40;
  --c-gray-100: #f8f9fa;
  --c-gray-200: #e9ecef;
  --c-gray-300: #dee2e6;
  --c-gray-400: #ced4da;
  --c-gray-500: #adb5bd;
  --c-gray-600: #6c757d;
  --c-gray-700: #495057;
  --c-gray-800: #343a40;
  --c-gray-900: #212529;

  // theme colors
  --body-color: #000;
  --c-text: #000;
  --c-primary: #E84232;
  --c-red: #E84232;
  --c-secondary: #1F2348;
  --c-blue: #1F2348;
  --c-grey: #868686;
  /** END Colors */

  // Box-shadow default
  --box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .09);

  // Horizontal rules
  --hr-border-width: 1px;
  --hr-border-color: var(--c-blue);
  --hr-opacity: 1;

  // Transition
  --transition-duration: .25s;
  --transition-timing-function: cubic-bezier(0.45, 0.13, 0.31, 1);

  /** Z-index variables */
  --zi-dropdown: 200;
  --zi-dropdown-backdrop: 199;
  --zi-header: 500;
  --zi-modal: 600;
  --zi-modal-backdrop: 599;
  --zi-mobile-menu: 400;
  --zi-offcanvas: 400;
  --zi-offcanvas-backdrop: 399;

  @media (min-width: 1200px) {
    //--grid-gutter-x: 24px;
  }
}
