// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75rem !default;
$badge-font-weight:                 normal !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .5rem !default;
$badge-padding-x:                   .625rem !default;
$badge-border-radius:               var(--border-radius) !default;
// scss-docs-end badge-variables
