// Navs

// scss-docs-start nav-variables
$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                0 !default;
$nav-link-font-size:                null !default;
$nav-link-font-weight:              500 !default;
$nav-link-color:                    var(--link-color) !default;
$nav-link-hover-color:              var(--link-hover-color) !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           var(--secondary-color) !default;
//$nav-link-focus-box-shadow:         $focus-ring-box-shadow !default;

$nav-tabs-border-color:             var(--border-color) !default;
$nav-tabs-border-width:             var(--border-width) !default;
$nav-tabs-border-radius:            var(--border-radius) !default;
$nav-tabs-link-hover-border-color:  var(--secondary-bg) var(--secondary-bg) $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        var(--emphasis-color) !default;
$nav-tabs-link-active-bg:           var(--body-bg) !default;
$nav-tabs-link-active-border-color: var(--border-color) var(--border-color) $nav-tabs-link-active-bg !default;

$nav-pills-border-radius:           var(--border-radius) !default;
//$nav-pills-link-active-color:       $component-active-color !default;
//$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-underline-gap:                 1rem !default;
$nav-underline-border-width:        .125rem !default;
$nav-underline-link-active-color:   var(--emphasis-color) !default;
// scss-docs-end nav-variables
